header {
  background-color: var(--header-bg-scroll) !important;
}

.event__error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  padding-top: 120px;
}

.event {
  margin-top: 96px;
}

.event__content {
  padding-bottom: 120px;
}

.event__content__hero {
  height: 600px;
  position: relative;
  background-size: cover;
  background-position: center;
}

.event__content__hero__overlay {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
}

.event__content__body {
  width: 80vw;
  margin: 0 auto;
  position: relative;
}

.event__content__body__action {
  position: absolute;
  right: 24px;
  top: 24px;
  width: 40px;
  height: 40px;
}

.event__content__body__container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

@media screen and (min-width: 1024px) {
  .event__content__body {
    width: 100%;
    max-width: 900px;
  }
}

@media screen and (min-width: 1280px) {
  .event__content__body {
    max-width: 1180px;
  }
}

.event__content__body {
  padding: 96px 24px;
  box-shadow: 0px 0px 58px -23px rgba(0, 0, 0, 0.36);
  position: relative;
  margin-top: -240px;
  background-color: var(--white);
}

.event-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.event-category {
  color: var(--accent);
}

.event-description {
  margin-bottom: 48px;
}

.event-column {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 24px;
}

.event-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 4px;
}

.event-row > i {
  display: inline-block;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  color: var(--gray-dark);
}

.event-createdBy-email {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.unattend-button > i,
.attend-button > i {
  color: var(--primary);
}

.event-attendees {
  margin-left: 4px;
}
