.footer {
  background-color: var(--rich-black);
  padding: 128px 24px;
}

.footer__social__box {
  display: flex;
  align-items: center;
}

.footer__social__box > .icon-button {
  width: 48px;
  height: 48px;
  margin-bottom: -12px;
}

.footer__content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer__dev,
.footer__contact,
.footer__social {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__dev,
.footer__contact {
  gap: 8px;
}

.footer__contact > a {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (min-width: 769px) {
  .footer__content {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
}
