.header {
  position: fixed;
  width: 100%;
  padding: 24px;
  transition: background-color 0.3s;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

.header__logo,
.header__logo__img {
  height: 32px;
}

.header__menu {
  display: flex;
  gap: 16px;
}

.header__burger {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 48px;
  height: 48px;
  cursor: pointer;
  border-radius: 100%;
  border: none;
  background-color: unset;
  transition: background-color 0.3s;
  margin-right: -16px;
}

.header__burger:hover,
.header__burger:focus-visible {
  background-color: var(--header-burger-bg-hover);
}

.header__burger__slice {
  width: 20px;
  height: 2px;
  border-radius: 3px;
  background-color: var(--header-burger-slice-bg);
}

@media screen and (max-width: 768px) {
  .header__menu,
  .header__cta {
    display: none;
  }
}

@media screen and (min-width: 769px) {
  .header__burger {
    display: none;
  }
}
