html {
  scroll-behavior: smooth;
}

:root {
  --primary: #3f826d;
  --primary-alpha-16: rgba(63, 130, 109, 0.16);
  --primary-alpha-32: rgba(63, 130, 109, 0.32);
  --primary-alpha-64: rgba(63, 130, 109, 0.64);
  --primary-dark: #2e6c5a;
  --secondary: #182825;
  --accent: #3083dc;
  --accent-alpha-16: rgba(48, 131, 220, 0.16);
  --accent-alpha-32: rgba(48, 131, 220, 0.32);
  --accent-dark: #1c5a9e;
  --white: #ffffff;
  --anti-flash-white: #ebebeb;
  --white-alpha-6: rgba(255, 255, 255, 0.06);
  --white-alpha-8: rgba(255, 255, 255, 0.08);
  --white-alpha-20: rgba(255, 255, 255, 0.2);
  --black: #000000;
  --rich-black: #141a21;
  --black-alpha-8: rgba(0, 0, 0, 0.08);
  --black-alpha-78: rgba(0, 0, 0, 0.78);
  --dark: #141414;
  --gray-lighter: #f4f6f8;
  --gray-light: #d7d7d7;
  --gray: #b1b1b1;
  --gray-dark: #637381;
  --success: #198754;
  --warning: #ffc107;
  --danger: #dc3545;
  --danger-alpha-8: rgba(220, 53, 69, 0.08);

  --text-dark: var(--dark);
  --text-light: var(--white);
  --text-success: var(--success);
  --text-warning: var(--warning);
  --text-danger: var(--danger);

  --input-border: var(--gray-light);
  --input-border-hover: var(--gray-dark);
  --input-border-focus: var(--accent);
  --input-border-warning: var(--warning);
  --input-border-danger: var(--danger);

  --form-field-info: var(--gray-dark);
  --form-field-info-danger: var(--danger);
  --form-field-label-required: var(--danger);
  --form-field-file: var(--gray-dark);
  --form-field-file-bg: var(--gray-lighter);
  --form-field-file-outline: var(--accent);
  --form-field-file-img-bg: var(--gray-lighter);
  --form-field-file-border-danger: var(--danger);
  --form-field-select-border: var(--gray-light);
  --form-field-select-border-hover: var(--gray-dark);
  --form-field-select-border-danger: var(--danger);
  --form-field-select-arrow-bg: var(--gray);
  --form-field-select-outline: var(--accent);

  --form-radio: var(--primary);
  --form-radio-bg-hover: var(--primary-alpha-16);

  --button-primary-color: var(--white);
  --button-primary-bg: var(--primary);
  --button-primary-bg-hover: var(--primary-dark);

  --link-light: var(--white);
  --link-dark: var(--dark);
  --link-accent: var(--accent);

  --header-bg-scroll: var(--rich-black);
  --header-burger-icon: var(--white);

  --navigation-drawer-bg: var(--white);

  --snackbar-close-bg: var(--black-alpha-8);
  --snackbar-close-slice-bg: var(--white);
  --snackbar-bg-success: var(--success);
  --snackbar-bg-danger: var(--danger);

  --sidebar-bg: var(--rich-black);
  --sidebar-resize-button-bg: var(--white);
  --sidebar-resize-button-bg-hover: var(--anti-flash-white);
  --sidebar-nav-scrollbar-thumb-bg: var(--white-alpha-20);
  --sidebar-nav-link: var(--gray-dark);
  --sidebar-nav-link-active: var(--primary);
  --sidebar-nav-link-bg-active: var(--primary-alpha-16);
  --sidebar-nav-link-bg-hover: var(--white-alpha-6);
  --sidebar-nav-link-bg-active-hover: var(--primary-alpha-32);
  --sidebar-logout: var(--accent);
  --sidebar-logout-bg: var(--accent-alpha-16);
  --sidebar-logout-bg-hover: var(--accent-alpha-32);

  --floating-button-bg: var(--primary);
  --floating-button-box-shadow-1: var(--primary-alpha-32);
  --floating-button-box-shadow-2: var(--primary-alpha-16);

  --icon-button-bg-hover: var(--white-alpha-8);
  --icon-button-icon: var(--gray-dark);
  --icon-button-bg-hover-dark: var(--black-alpha-8);
  --icon-button-icon-danger: var(--danger);
  --icon-button-bg-hover-danger: var(--danger-alpha-8);
  --icon-button-icon-light: var(--white);

  --breadcrumbs-separator-bg: var(--gray-dark);
  --breadcrumbs-active: var(--gray);

  --spinner: var(--gray);
}

html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body,
.text--dark {
  color: var(--text-dark);
}

.text--light {
  color: var(--text-light);
}

.text--success {
  color: var(--text-success);
}

.text--warning {
  color: var(--text-warning);
}

.text--danger {
  color: var(--text-danger);
}

.text--center {
  text-align: center;
}

body,
p,
.body1 {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.05em;
}

.body2 {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.04em;
}

a {
  font-weight: 500;
  text-decoration: unset;
}

a,
span {
  display: inline-block;
}

h1 {
  font-weight: 100;
  font-size: 60px;
  line-height: 80px;
  letter-spacing: -0.05em;
}

.text--large {
  font-size: 96px;
  line-height: 120px;
  letter-spacing: -0.015em;
}

h2 {
  font-weight: 100;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0em;
}

h3 {
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0.0025em;
}

h4 {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0em;
}

h5 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.0015em;
}

.overline {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.015em;
}

label,
.form__field__label,
.subtitle,
.form__field__select {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.001em;
}

.full-width {
  width: 100%;
}

.button {
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.0125em;
  padding: 16px 40px;
  border: unset;
  cursor: pointer;
  transition: background-color 0.3s;
  text-align: center;
}

.button--primary {
  background-color: var(--button-primary-bg);
  color: var(--button-primary-color);
}

.button--primary:hover,
.button--primary:focus-visible {
  background-color: var(--button-primary-bg-hover);
}

.link {
  transition: color 0.3s;
  position: relative;
}

.link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: var(--link);
  transition: width 0.3s;
}

.link--light {
  color: var(--link-light);
}

.link--light::after {
  background-color: var(--link-light);
}

.link--dark {
  color: var(--link-dark);
}

.link--dark::after {
  background-color: var(--link-dark);
}

.link--accent {
  color: var(--link-accent);
}

.link--accent::after {
  background-color: var(--link-accent);
}

.link:hover::after,
.link:focus-visible::after {
  width: 100%;
}

.link--accent:hover::after,
.link--accent:focus-visible::after {
  width: 100%;
}

.icon-button {
  display: inline-block;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: unset;
  cursor: pointer;
  border: unset;
  border-radius: 100%;
  transition: background-color 0.3s;
}

.icon-button__icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  color: var(--icon-button-icon);
}

.icon-button:hover,
.icon-button:focus-visible {
  background-color: var(--icon-button-bg-hover);
}

.icon-button--dark:hover,
.icon-button--dark:focus-visible {
  background-color: var(--icon-button-bg-hover-dark);
}

.icon-button--danger > .icon-button__icon {
  color: var(--icon-button-icon-danger);
}

.icon-button--danger:hover,
.icon-button--danger:focus-visible {
  background-color: var(--icon-button-bg-hover-danger);
}

.icon-button--light > .icon-button__icon {
  color: var(--icon-button-icon-light);
}

.icon-button--ml-minus8 {
  margin-left: -8px;
}

.icon-button--mr-minus8 {
  margin-right: -8px;
}

.card {
  padding: 16px;
  border-radius: 16px;
  box-shadow: rgba(145, 158, 171, 0.2) 0px 0px 2px 0px,
    rgba(145, 158, 171, 0.12) 0px 12px 24px -4px;
}

.panel__content__head,
.panel__content__head__container {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.panel__content__head {
  align-items: center;
  margin-bottom: 40px;
}

.panel__content__head__container {
  flex-direction: column;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  gap: 8px;
}

.breadcrumbs__link,
.breadcrumbs__active {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.04em;
}

.breadcrumbs__separator {
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background-color: var(--breadcrumbs-separator-bg);
}

.breadcrumbs__active {
  color: var(--breadcrumbs-active);
}

.panel__content__head__cta {
  padding: 12px 6px;
  border-radius: 8px;
}

.spinner {
  display: inline-block;
  width: 32px;
  height: 32px;
  color: var(--spinner);
  animation: rotate 1s linear infinite;
}

.error-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.feedback-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.centered-box {
  display: flex;
  justify-content: center;
}

.mt-24 {
  margin-top: 24px;
}

@media screen and (max-width: 1023px) {
  .home-events {
    padding: 0 24px;
  }
}

@media screen and (max-width: 959px) {
  .text--large {
    font-size: 72px;
    line-height: 88px;
    letter-spacing: -0.05em;
  }
}

@media screen and (max-width: 639px) {
  h1,
  .text--large {
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0em;
  }

  h2 {
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0.0025em;
  }

  h3 {
    font-weight: 400;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: 0.0025em;
  }
}

.container {
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .container {
    padding: 0;
    width: 100%;
    max-width: 988px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1180px;
  }
}
