.navigation-drawer {
  z-index: 99;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--navigation-drawer-bg);
  transition: left 0.3s;
  visibility: hidden;
}

.navigation-drawer--close {
  left: 100%;
}

.navigation-drawer--open {
  left: 0;
}

.navigation-drawer__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navigation-drawer__logo,
.navigation-drawer__logo__img {
  height: 32px;
}

.navigation-drawer__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin: 32px 0;
}

.navigation-drawer__close {
  position: absolute;
  top: 8px;
  right: 8px;
}

@media screen and (min-width: 769px) {
  .navigation-drawer {
    display: none;
  }
}
